{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "provenance": [],
      "gpuType": "T4"
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    },
    "accelerator": "GPU"
  },
  "cells": [
    {
      "cell_type": "code",
      "execution_count": 4,
      "metadata": {
        "id": "xkNkwqhgexEm",
        "cellView": "form",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "4d30d992-b459-403e-c2f3-a767cf8ba436"
      },
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Cloning into 'UPLODER-1'...\n",
            "remote: Enumerating objects: 25, done.\u001b[K\n",
            "remote: Counting objects: 100% (25/25), done.\u001b[K\n",
            "remote: Compressing objects: 100% (21/21), done.\u001b[K\n",
            "remote: Total 25 (delta 4), reused 0 (delta 0), pack-reused 0\u001b[K\n",
            "Receiving objects: 100% (25/25), 20.81 KiB | 2.97 MiB/s, done.\n",
            "Resolving deltas: 100% (4/4), done.\n",
            "Done\n"
          ]
        }
      ],
      "source": [
        "# @title APPX-UPLODER-V1\n",
        "from IPython.display import clear_output\n",
        "\n",
        "# !sudo apt-get update\n",
        "# clear_output()\n",
        "\n",
        "!git clone https://ADARSH-KUMAR-24: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@github.com/ADARSH-KUMAR-24/UPLODER-1.git\n",
        "\n",
        "clear_output()\n",
        "print(\"Done\")"
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "# @title install\n",
        "from IPython.display import clear_output\n",
        "\n",
        "# prompt: sudo apt update && sudo apt install ffmpeg aria2 yt-dlp git wget pv jq python3-dev ffmpeg mediainfo && pip3 install -r requirements.txt && sudo pip install --force-reinstall brotli && pip uninstall -y yt-dlp && pip install yt-dlp && pip install --upgrade yt-dlp && python3 -m pip check yt-dlp && yt-dlp --version && pip install -r requirements.txt && python3 main.py\n",
        "#  do this in all in line by line\n",
        "%ls\n",
        "\n",
        "%cd UPLODER-1\n",
        "\n",
        "\n",
        "!sudo apt update\n",
        "clear_output()\n",
        "!sudo apt install ffmpeg aria2 yt-dlp git wget pv jq python3-dev ffmpeg mediainfo\n",
        "clear_output()\n",
        "!pip3 install -r requirements.txt\n",
        "clear_output()\n",
        "!sudo pip install --force-reinstall brotli\n",
        "clear_output()\n",
        "!pip uninstall -y yt-dlp\n",
        "clear_output()\n",
        "!pip install yt-dlp\n",
        "clear_output()\n",
        "!pip install --upgrade yt-dlp\n",
        "clear_output()\n",
        "!python3 -m pip check yt-dlp\n",
        "clear_output()\n",
        "!yt-dlp --version\n",
        "clear_output()\n",
        "!pip install -r requirements.txt\n",
        "clear_output()\n",
        "\n",
        "print(\"Installation Done\")\n"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "XFTCfHlhwoj4",
        "outputId": "1633cbcc-6c54-4490-d946-7ffe7cb5dca0",
        "cellView": "form"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Installation Done\n"
          ]
        }
      ]
    },
    {
      "source": [
        "!python3 main.py"
      ],
      "cell_type": "code",
      "metadata": {
        "id": "wCVtKGg_TaxZ"
      },
      "execution_count": null,
      "outputs": []
    }
  ]
}
